<template>
<!-- eslint-disable -->
  <div class="login">
    <form @submit.prevent="submitLoginForm()" id="login-form">
      <div class="columns">
        <div class="column is-one-third is-offset-one-quarter">
          <p class="title">YFDM login</p>
          <p class="subtitle is-5">ver. {{appVersion}}</p>
          <p class="subtitle is-6">Any credentials will work ;)</p>
          <b-notification
          v-if="loginErrorMessage!=''"
          type="is-danger"
          @close="hideErrorMessage">
          {{loginErrorMessage}}
          </b-notification>
          <b-field label="Username">
            <b-input 
              v-model.trim="username"
              :disabled="loginFormLoading"
              type="text"
              maxlength="30"
              required></b-input>
          </b-field>
          <b-field label="Password">
            <b-input type="password"
              v-model.trim="password"
              :disabled="loginFormLoading"
              :password-reveal="password!='' && !loginFormLoading"
              required></b-input>
          </b-field>
          <div class="has-text-centered">
            <button 
            type="submit" 
            :class="`button is-primary ${isLoading}`"
            >
            Login to YFDM
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'LoginForm',
  mounted () {
    $('#login-form').hide()
    $('#login-form').fadeIn('slow')
  },
  data () {
    return {
      username: '',
      password: ''
    }
  },
  computed: {
    ...mapGetters({
      loginErrorMessage: 'loginErrorMessage',
      appVersion: 'appVersion',
      loginFormLoading: 'loginFormLoading'
    }),
    isLoading () {
      return this.loginFormLoading ? 'is-loading' : ''
    }
  },
  methods: {
    ...mapActions({
      setUser: 'setUser',
      setErrorMessage: 'setErrorMessage',
      getUserData: 'getUserData',
      loginUser: 'loginUser'
    }),
    hideErrorMessage () {
      this.setErrorMessage('')
    },
    submitLoginForm () {
      let formData = {
        username: this.username,
        password: this.password
      }
      this.loginUser(formData)
    }
  }
}
</script>
