<template>
<!-- eslint-disable -->
  <div id="LoginScreen">
    <login-form/>
  </div>
</template>

<script>
import LoginForm from './LoginForm'
export default {
  name: 'LoginScreen',
  components: {
    'login-form': LoginForm
  },
  data () {
    return {
      // data
    }
  }
}
</script>
