<template>
<!-- eslint-disable -->
  <div class="home-screen">
    <h1 class="title is-1 is-spaced">Home</h1>
    <h2 class="subtitle">{{hello}}</h2>
    <p><a href="https://vuejs.org/v2/guide/" target="_blank">Vuejs doc's here</a></p>
    <p><a href="https://bulma.io/documentation/overview/start/" target="_blank">Bulma doc's here</a></p>
    <p><a href="https://buefy.github.io/#/documentation/start" target="_blank">Buefy doc's here</a></p>
    <br><br>
    <!-- <h2 class="subtitle">Remember</h2> -->
    <!-- <code>
      apiRequest().then(response => { if (!response.error) { // success logic } else { this.showError(response.error.message) } })
    </code> -->
    <!-- ACTION PANEL (quick actions)-->
    
    <!-- ? ? ?  -->
  </div>
</template>

<script>
export default {
  name: 'HomeScreen',
  data () {
    return {
      hello: 'hello to Your Friendy Data (test data) Manager :)'
    }
  }
}
</script>
