<template>
<!-- eslint-disable -->
  <div class="test-data-class-details">
    <section>
      <h2 class="title">{{tdcName}} data rows:</h2>
      <!-- rows: {{rows}} -->
      <!-- DATA TABLE -->
      <b-table
      :data="rows"
      paginated
      narrowed
      :per-page="perPage"
      :current-page.sync="currentPage"
      pagination-simple
      :default-sort-direction="'asc'"
      :row-class="(row, index) => getRowClass(row, index)"
      default-sort="id">

        <template slot-scope="props">
            <b-table-column field="id" label="ID" width="40" sortable numeric>
                {{ props.row.id }}
            </b-table-column>

            <b-table-column field="status" label="Status" sortable centered>
                <span :class="`tag ${getTagClass(props.row)}`">
                  {{props.row.status}}
                </span>
            </b-table-column>

            <b-table-column field="tdc_name" label="TDC Name" sortable>
                {{ props.row.tdc_name }}
            </b-table-column>

            <b-table-column field="tdc_type_display" label="Data type" sortable>
                {{ props.row.tdc_type_display }}
            </b-table-column>

            <b-table-column field="added_by_username" label="Added by" sortable centered>
                <span class="tag">
                  {{props.row.added_by_username}}
                </span>
            </b-table-column>

            <b-table-column field="added_date" label="Added date" sortable centered>
                {{ new Date(props.row.added_date).toLocaleDateString() }}
            </b-table-column>


            <b-table-column field="locked" label="Locked?" sortable centered>
                <b-icon type="is-success" v-if="props.row.locked" pack="fa" icon="check"></b-icon>
                <b-icon type="is-danger" v-else pack="fa" icon="times"></b-icon>
            </b-table-column>

            <b-table-column field="used" label="Used?" sortable centered>
                <b-icon type="is-success" v-if="props.row.used" pack="fa" icon="check"></b-icon>
                <b-icon type="is-danger" v-else pack="fa" icon="times"></b-icon>
            </b-table-column>

            <b-table-column field="row_data" label="Data" centered>
                <span class="tag">
                  {{props.row.row_data.value}}
                </span>
            </b-table-column>

            <b-table-column label="Actions" centered>
              <b-dropdown position="is-bottom-left">
                <button
                class="button is-small is-rounded"
                slot="trigger"
                >
                <b-icon
                class=""
                pack="fa"
                icon="ellipsis-v"
                >
                </b-icon></button>
                <b-dropdown-item>Edit(WIP)</b-dropdown-item>
                <hr class="dropdown-divider">
                <b-dropdown-item @click="rowUrlDialog(props.row)">Get URL</b-dropdown-item>
              </b-dropdown>
            </b-table-column>
        </template>
      </b-table>
    </section>
  </div>
</template>

<script>
import { getDataRows } from '../../api/test_data'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'TestDataScreenTestDataClassDetails',
  mounted () {
    this.getTestDataRows()
  },
  data () {
    return {
      baseExtApi: 'http://localhost:8000/api-v1/ext/',
      rows: [], // wip - need to add store module
      perPage: 10,
      currentPage: 1
    }
  },
  computed: {
    ...mapGetters({
      crumbLen: 'crumbLen'
    }),
    tdcName () {
      return this.$route.params.tdcname
    }
  },
  methods: {
    ...mapActions({
      startGlobalLoading: 'startGlobalLoading',
      stopGlobalLoading: 'stopGlobalLoading'
    }),
    prepareExtApiUrl (rowId) {
      return 
    },
    rowUrlDialog (row) {
      this.$dialog.alert({
                    size: 'is-medium',
                    width: 700,
                    title: `${row.tdc_name} - id: ${row.id} data row URL`,
                    message: `This URL will return row data from REST API in JSON FORMAT<br>
                              <b>URL</b> <code>${this.baseExtApi}get-data-row-by-id/?row_id=${row.id}</code>`,
                    confirmText: 'Close',
                    type: 'is-success'
                    // onConfirm: () => this.$toast.open('User agreed')
                })
    },
    getTagClass (row) {
      if (row.status === 'Used') { return 'is-danger' }
      if (row.status === 'Locked') { return 'is-warning' }
      return 'is-success'
    },
    getRowClass (row, index) {
      if (row.status === 'Used') { return 'is-info' }
      if (row.status === 'Locked') { return 'is-warning' }
    },
    getTestDataRows () {
      this.startGlobalLoading('testDataRows')
      getDataRows()
        .then(response => {
          if (!response.error) {
            let self = this
            setTimeout(function () {
              self.rows = response
              self.stopGlobalLoading('testDataRows')
            }, 500)
          } else {
            console.log('getTestDataRows error', response.error)
          }
        })
    }
  }
}
</script>
<style>
  tr.is-info {
    background: lightgrey;
    color: grey;
  }
  tr.is-warning {
    background: lightgoldenrodyellow;
    color: grey;
  }
</style>
