<template>
<!-- eslint-disable -->
  <div class="add-new-app-form">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <form @submit.prevent="submitForm">
          <div class="card">
            <div class="card-content">
                Add application for
                <b>{{envShortcode}}</b>
                environment
              <b-notification
              v-if="errorMessage.show"
              type="is-danger"
              @close="errorMessage.show=false">
                <span v-html="errorMessage.message"></span>
              </b-notification>
              <!-- FIELDS -->
              <b-field
              label="Application name"
              :type="getFieldCssClass('name')">
                <b-tooltip :label="formFields.name.errors[0]"
                :active="formFields.name.errors.length>0"
                class="yfdm-ifwo"
                type="is-danger"
                size="is-medium"
                position="is-top"
                animated
                multilined
                :always="activeField===formFields.name.id">
                  <b-input
                  class="yfdm-ifwo"
                  :id="formFields.name.id"
                  @focus="activate(formFields.name.id)"
                  @blur="validate(formFields.name.id)"
                  v-model.trim="formFields.name.value"
                  :disabled="formLoading"
                  type="text"
                  maxlength="50"
                  ></b-input>
                </b-tooltip>
              </b-field>
              <b-field
              label="Application description"
              :type="getFieldCssClass('description')">
                <b-tooltip :label="formFields.description.errors[0]"
                :active="formFields.description.errors.length>0"
                class="yfdm-ifwo"
                type="is-danger"
                size="is-medium"
                position="is-top"
                animated
                multilined
                :always="activeField===formFields.description.id">
                  <b-input
                  class="yfdm-ifwo"
                  :id="formFields.description.id"
                  @focus="activate(formFields.description.id)"
                  @blur="validate(formFields.description.id)"
                  v-model.trim="formFields.description.value"
                  :disabled="formLoading"
                  type="textarea"
                  maxlength="500"
                  ></b-input>
                </b-tooltip>
              </b-field>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <button
                type="button"
                class="button is-danger"
                :disabled="formLoading"
                @click="cancel">
                  Cancel
                </button>
              </p>
              <p class="card-footer-item">
                <button
                type="submit"
                :class="'button is-success ' + isLoading"
                :disabled="!formIsValid">
                  Add Application
                </button>
              </p>
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { validators } from '../../mixins/validators'
import { mapActions } from 'vuex'
export default {
  name: 'TestDataScreenAddNewAppForm',
  mixins: [validators],
  created () {
    this.registerFields(this.formFields) // mixins
  },
  mounted () {
    document.getElementById('name').focus()
  },
  data () {
    return {
      formLoading: false,
      errorMessage: {
        show: false,
        message: 'none'
      },
      formFields: {
        name: {
          id: 'name',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'min_length', params: {length: 3}},
            {name: 'max_length', params: {length: 50}}
          ],
          errors: []
        },
        description: {
          id: 'description',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'min_length', params: {length: 1}},
            {name: 'max_length', params: {length: 500}}
          ],
          errors: []
        }
      }
    }
  },
  computed: {
    envShortcode () {
      return this.$route.params.shortcode
    },
    isLoading () {
      return this.formLoading ? 'is-loading' : ''
    },
    formIsValid () {
      return this.fieldsAreValid // mixins
    },
    activeField () {
      return this.activeFieldId // mixins
    }
  },
  methods: {
    ...mapActions({
      resetActiveAddAction: 'resetActiveAddAction',
      unshiftApplication: 'unshiftApplication'
    }),
    validate (fieldId) {
      this.validateField(fieldId) // mixins
    },
    activate (fieldId) {
      this.activateField(fieldId) // mixins
    },
    getFieldCssClass (fieldId) {
      if (!this.hasBeenValidated(fieldId)) { // mixins
        return ''
      }
      return this.formFields[fieldId].errors.length === 0 ? 'is-success' : 'is-danger'
    },
    prepareErrorMessage (responseError) {
      let errCode = responseError.error
      let message = responseError.message
      let fieldErrors = []
      if (responseError.hasOwnProperty('errors')) {
        fieldErrors = responseError.errors
      }
      let msg = `ERROR: <strong>${errCode}</strong> - <i>${message}</i>.<br>`
      if (fieldErrors.length > 0) {
        msg = msg + 'Details: <br>'
      }
      fieldErrors.forEach(error => {
        msg = msg + `<b>Field: ${error.field}</b>:<br>`
        error.error_list.forEach(errorMsg => {
          msg = msg + `Error: <i>${errorMsg}</i><br>`
        })
      })
      this.errorMessage.message = msg
    },
    submitForm () {
      let newApp = {
        id: Math.floor(Math.random() * Math.floor(99)), // tst
        name: this.formFields.name.value,
        envitonment: this.envShortcode,
        description: this.formFields.description.value
      }
      console.log('form submit', newApp)
      this.unshiftApplication(newApp)
      this.resetActiveAddAction()
    //   this.formLoading = true
    //   addNewEnvironment(newEnvironment)
    //     .then(response => {
    //       console.log('addNewEnvironment resposne:', response)
    //       if (!response.error) {
    //         this.formLoading = false
    //         EventBus.$emit('push-environment', response)
    //       } else {
    //         this.prepareErrorMessage(response.error)
    //         this.errorMessage.show = true
    //         this.formLoading = false
    //       }
    //     })
    },
    cancel () {
      this.resetActiveAddAction()
    }
  }
}
</script>
<style scoped>
.yfdm-ifwo {
  width: 100% !important;
  opacity: 0.85;
}
</style>
