<template>
<!-- eslint-disable -->
  <div class="testdata-screen">
    <!-- crumb len: {{crumbLen}} -->
    <!-- env: {{activeEnvironmentShortcode}} id: {{activeEnvironmentId}} -->
    <!-- url active env: {{urlEnvShortcode || 'none'}} 
    url active app: {{urlAppNme || 'none'}} 
    url active tdc: {{urlTdcName || 'none'}}  -->
    <div class="columns">
      <div class="column">
        <!-- CRUMBS -->
        <b-crumb />
      </div>
      <div class="column has-text-right">
        <div v-if="user!==undefined">
          <!-- ADD ACTION BUTTONS -->
          <button 
          v-for="action in crumbActions" 
          :key="action.len"
          v-if="action.len === crumbLen && activeAction !== action.action"  
          @click="setActiveAddAction(action.action)"
          class="button is-medium is-primary is-outlined">{{action.label}}</button>
        </div>
      </div>
    </div>
    <!-- ROW ACTIVE ADD FORMS-->
    <div class="columns" v-if="showAddNewEnv">
      <div class="column">
        <add-env-form />
      </div>
    </div>
    <div class="columns" v-if="showAddApp">
      <div class="column">
        <add-app-form />
      </div>
    </div>
    <div class="columns" v-if="showAddTdc">
      <div class="column">
        [[add TDC form (WIP)]]
      </div>
    </div>
    <div class="columns" v-if="showAddDataRow">
      <div class="column">
        [[add data row form (WIP)]]
      </div>
    </div>

    <div class="columns" v-if="crumbLen === 1 && environmentsLoaded">
      <div class="column has-text-left">
        <p class="title">Environments</p>
      </div>
    </div>
    <!-- ROW ENVIRONMENTS LIST-->
    <div class="columns is-multiline" v-if="crumbLen === 1 && environmentsLoaded">
      <div class="column is-one-third-desktop" v-for="environment in environments" :key="environment.id">
        <env-card :env="environment"/>
      </div>
    </div>
    <!-- ENVIRONMENT DETAILS -->
    <router-view></router-view>
  </div>
</template>

<script>
import Breadcrumb from '../Breadcrumb'
import TestDataScreenEnvironCard from './TestDataScreenEnvironCard'
import TestDataScreenAddNewEnvForm from './TestDataScreenAddNewEnvForm'
import TestDataScreenAddNewAppForm from './TestDataScreenAddNewAppForm'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'TestDataScreen',
  components: {
    'b-crumb': Breadcrumb,
    'env-card': TestDataScreenEnvironCard,
    'add-env-form': TestDataScreenAddNewEnvForm,
    'add-app-form': TestDataScreenAddNewAppForm
  },
  mounted () {
    this.setCrumb(decodeURI(this.$route.path).split('/').filter(crumb => crumb !== ''))
    const uriEnvShortcode = this.$route.params.shortcode
    if (uriEnvShortcode) {
      this.setActiveEnvShortcode(uriEnvShortcode)
    }
    this.getEnvironments()
  },
  data () {
    const crumbs = [
      {
        len: 1, action: 'add_env', label: 'Add new environment'
      },
      {
        len: 2, action: 'add_app', label: 'Add new application'
      },
      {
        len: 3, action: 'add_tdc', label: 'Add new Test Data Class'
      },
      {
        len: 4, action: 'add_data_row', label: 'Add new Data Row'
      }
    ]
    return {
      crumbActions: crumbs
    }
  },
  watch: {
    environmentsLoaded (newVal) {
      if (newVal && this.urlEnvShortcode) {
        this.setActiveEnvironmentByShortcode(this.urlEnvShortcode)
      }
    },
    appsLoadedAndActiveEnv (newVal) {
      if (newVal && this.urlAppNme) {
        this.setActiveAppByNameAndEnvId({
          appName: this.urlAppNme,
          envId: this.activeEnvironment.id
        })
      }
    },
    tdcLoadedAndActiveApp (newVal) {
      if (newVal && this.urlTdcName) {
        this.setActiveTdcByActiveAppIdAndUrlAppName({
          appId: this.activeApp.id,
          tdcName: this.urlTdcName
        })
      }
    },
    crumbLen (newVal) {
      if (newVal === 1) {
        this.setActiveEnvironment(null)
        this.resetEnv()
        // this.getEnvironments()
      }
      this.resetActiveAddAction()
    }
  },
  computed: {
    tdcLoadedAndActiveApp () {
      return this.testDataClassesLoaded & this.activeApp !== null
    },
    appsLoadedAndActiveEnv () {
      return this.appsLoaded && this.activeEnvironment !== null
    },
    routeHasParams () {
      return this.$route.params !== undefined && this.$route.params !== null
    },
    urlEnvShortcode () {
      return this.$route.params.shortcode !== undefined && this.$route.params.shortcode !== null ? this.$route.params.shortcode : null
    },
    urlAppNme () {
      return this.$route.params.appname !== undefined && this.$route.params.appname !== null ? this.$route.params.appname : null
    },
    urlTdcName () {
      return this.$route.params.tdcname !== undefined && this.$route.params.tdcname !== null ? this.$route.params.tdcname : null
    },
    ...mapGetters({
      user: 'user',
      environments: 'environments',
      environmentsLoaded: 'environmentsLoaded',
      activeEnvironment: 'activeEnvironment',
      activeEnvironmentId: 'activeEnvironmentId',
      activeEnvironmentShortcode: 'activeEnvironmentShortcode',
      activeAddAction: 'activeAddAction',
      crumbLen: 'crumbLen',
      appsLoaded: 'appsLoaded',
      testDataClassesLoaded: 'testDataClassesLoaded',
      activeApp: 'activeApp'
    }),
    showAddDataRow () {
      return this.activeAddAction === 'add_data_row'
    },
    showAddTdc () {
      return this.activeAddAction === 'add_tdc'
    },
    showAddApp () {
      return this.activeAddAction === 'add_app'
    },
    showAddNewEnv () {
      return this.activeAddAction === 'add_env'
    },
    activeAction () {
      return this.activeAddAction
    },
    showEnvDetails () {
      return this.activeEnvironmentShortcode !== null
    }
  },
  methods: {
    ...mapActions({
      setCrumb: 'setCrumb',
      getEnvironments: 'getEnvironments',
      setEnvironments: 'setEnvironments',
      updateEnvironment: 'updateEnvironment',
      resetEnv: 'resetEnv',
      setActiveAddAction: 'setActiveAddAction',
      resetActiveAddAction: 'resetActiveAddAction',
      setActiveEnvShortcode: 'setActiveEnvShortcode',
      setActiveEnvironment: 'setActiveEnvironment',
      setActiveEnvironmentByShortcode: 'setActiveEnvironmentByShortcode',
      setActiveAppByNameAndEnvId: 'setActiveAppByNameAndEnvId',
      setActiveTdcByActiveAppIdAndUrlAppName: 'setActiveTdcByActiveAppIdAndUrlAppName'
    })
  }
}
</script>
