<template>
<!-- eslint-disable -->
  <div class="environ-card">
    <div class="box env-card">
      <div class="box">
        <div class="columns">
          <div class="column is-10 has-text-left">
            <p class="subtitle"><b>{{env.name}} <i><small>({{env.shortcode.toUpperCase()}})</small></i> </b></p>
          </div>
          
          <div class="column is-2 has-text-right">
            <b-dropdown position="is-bottom-left">
              <b-icon
                slot="trigger"
                class="icon-finger grey-icon"
                pack="fa"
                icon="ellipsis-v"
                >
              </b-icon>
              <b-dropdown-item>Edit(WIP)</b-dropdown-item>
              <b-dropdown-item>Copy(WIP)</b-dropdown-item>
              <hr class="dropdown-divider">
              <b-dropdown-item style="color: red;">Delete(WIP)</b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
        <div class="columns">
          <div class="column has-text-left">
            <p>added by: <i>{{env.added_by_username}}</i> <i><small>({{new Date(env.added_date).toLocaleDateString()}})</small></i></p>
          </div>
        </div>
        <p><s-span :content="env.description" :shortLength="80" /></p>
        <br>
        <button class="button is-outlined is-full-width is-light-green" @click="openEnv()">Open</button>
      </div>
    </div>
  </div>
</template>

<script>
import ShrotSpan from '../ShortSpan'
import { mapActions } from 'vuex'
export default {
  name: 'TestDataScreenEnvironCard',
  components: {
    's-span': ShrotSpan
  },
  props: {
    env: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapActions({
      activateEnv: 'activateEnv'
    }),
    openEnv () {
      this.activateEnv(this.env)
    }
  }
}
</script>
<style scoped>
.grey-icon {
  color: grey;
}
.grey-icon:hover {
  color: rgba(68, 255, 11, 0.5);
}
.icon-finger {
  cursor: pointer;
}
.is-full-width {
  width: 100%;
}
.is-light-green:hover {
  width: 100%;
  background-color: rgba(68, 255, 11, 0.5) !important;
}
.env-card {
  padding: 2px;
   background-color: rgba(238, 238, 234, 0.788) !important;
}
.env-card:hover {
  padding: 2px;
  background-color: rgba(68, 255, 11, 0.5) !important;
}
</style>
