<template>
<!-- eslint-disable -->
  <div class="denied-screen">
    <section v-if="crumbLen === 2 && appsLoaded">
      <h2 class="title">"{{urlEnvShortCode.toUpperCase()}}" apps</h2>
      <div class="columns">
        <div class="column is-one-third-desktop" v-for="(app, i) in applications" :key="'app_'+i">
          <div class="box app-card">
            <div class="box">
              <div class="columns">
                <div class="column has-text-left">
                  <h2 class="subtitle"><b>{{app.name}}</b></h2>
                </div>
                <div class="column has-text-right">
                  <p>added by: <i>{{app.added_by_username}}</i></p>
                  <p><i><small>({{new Date(app.added_date).toLocaleDateString()}})</small></i></p>
                </div>
              </div>
              <p><s-span :content="app.description" :shortLength="80" /></p>
              <br>
              <button class="button is-outlined is-full-width is-light-green" @click="goToApp(app)">Open</button>
            </div>
          </div>
        </div>
      </div>

    </section>
    <router-view></router-view>
  </div>
</template>

<script>
// import { EventBus } from '../../event_bus'
import { getEnvironmentApps } from '../../api/test_data'
import ShrotSpan from '../ShortSpan'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'TestDataScreenEnvironDetails',
  components: {
    's-span': ShrotSpan
  },
  mounted () {
    this.getApps()
  },
  computed: {
    ...mapGetters({
      crumbLen: 'crumbLen',
      activeApp: 'activeApp',
      applications: 'applications',
      appsLoaded: 'appsLoaded',
      activeEnvironmentId: 'activeEnvironmentId',
      environmentsLoaded: 'environmentsLoaded',
      activeEnvironment: 'activeEnvironment'
    }),
    urlEnvShortCode () {
      return this.$route.params.shortcode
    },
    showAppDetails () {
      return this.urlAppName !== undefined
    },
    urlAppName () {
      return this.$route.params.appname
    }
  },
  watch: {
    urlEnvShortCode (newVal) {
      this.getApps()
    },
    crumbLen (newVal) {
      if (newVal === 2) {
        // this.getApps()
      }
    }
  },
  methods: {
    ...mapActions({
      startGlobalLoading: 'startGlobalLoading',
      stopGlobalLoading: 'stopGlobalLoading',
      setApplications: 'setApplications',
      setActiveApp: 'setActiveApp',
      setAppsLoaded: 'setAppsLoaded',
      setActiveEnvironmentByShortcode: 'setActiveEnvironmentByShortcode'
    }),
    goToApp (app) {
      this.setActiveApp(app)
      this.$router.push({
        path: `/environments/${this.urlEnvShortCode}/${decodeURI(app.name)}`
      })
    },
    getApps () {
      this.setAppsLoaded(false)
      this.startGlobalLoading('applications')
      getEnvironmentApps(this.urlEnvShortCode)
        .then(response => {
          if (!response.error) {
            // EventBus.$emit('app-loading-stop')
            let self = this
            setTimeout(function () {
              self.setApplications(response)
              self.stopGlobalLoading('applications')
              self.setAppsLoaded(true)
            }, 500)
          } else {
            this.stopGlobalLoading('applications')
            self.setAppsLoaded(true)
            console.log('error', response.error)
          }
        })
    }
  }
}
</script>
<style scoped>
.is-full-width {
  width: 100%;
}
.is-light-green:hover {
  width: 100%;
  background-color: rgba(68, 255, 11, 0.5) !important;
}
.app-card {
  padding: 2px;
   background-color: rgba(238, 238, 234, 0.788) !important;
}
.app-card:hover {
  padding: 2px;
  background-color: rgba(68, 255, 11, 0.5) !important;
}
</style>
