<template>
<!-- eslint-disable -->
  <div class="env-app-details">
    <section v-if="crumbLen === 3 && testDataClassesLoaded">
      <h2 class="title">"{{urlAppName.toUpperCase()}}" test data classes</h2>
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column is-one-third-desktop" v-for="(tdc,i) in testDataClasses" :key="'tdc_'+i">
              <div class="box tdc-card">
                <div class="box">
                  <div class="columns">
                    <div class="column has-text-left">
                      <h2 class="subtitle"><b>{{tdc.name}}</b></h2>
                    </div>
                    <div class="column has-text-right">
                      <p>data type: <i>{{tdc.data_type_display}}</i></p>
                      <!-- <p><i><small>({{new Date(tdc.added_date).toLocaleDateString()}})</small></i></p> -->
                    </div>
                  </div>
                    <p>
                      limited use:
                      <b-icon type="is-success" v-if="tdc.limited_use" pack="fa" icon="check"></b-icon>
                      <b-icon type="is-danger" v-else pack="fa" icon="times"></b-icon>
                    </p>
                      <p v-if="tdc.use_limit!==null">
                      use limit: {{tdc.use_limit}} time(s) per data row
                    </p>
                  <p><s-span :content="tdc.description" :shortLength="80" /></p>
                  <br>
                  <button class="button is-outlined is-full-width is-light-green" @click="goToTdc(tdc)">Open</button>
                  <!-- {{tdc}} -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <router-view/>
  </div>
</template>

<script>
import { getAppTdcs } from '../../api/test_data'
import ShrotSpan from '../ShortSpan'
import { mapActions, mapGetters } from 'vuex'
export default {
  data () {
    return {
      activeTdc: null // replace with real actice tdc later
    }
  },
  name: 'TestDataScreenAppDetails',
  components: {
    's-span': ShrotSpan
  },
  mounted () {
    this.getTdcs()
  },
  watch: {
    crumbLen (newVal) {
      if (newVal === 3) {
        // this.getTdcs()
      }
    }
  },
  computed: {
    ...mapGetters({
      crumbLen: 'crumbLen',
      appsLoaded: 'appsLoaded',
      environmentsLoaded: 'environmentsLoaded',
      activeApp: 'activeApp',
      activeEnvironmentId: 'activeEnvironmentId',
      activeEnvironmentShortcode: 'envName',
      testDataClasses: 'testDataClasses',
      testDataClassesLoaded: 'testDataClassesLoaded'
    }),
    urlAppName () {
      return this.$route.params.appname
    },
    urlEnvShortcode () {
      return this.$route.params.shortcode
    }
  },
  methods: {
    ...mapActions({
      setTestDataClasses: 'setTestDataClasses',
      startGlobalLoading: 'startGlobalLoading',
      stopGlobalLoading: 'stopGlobalLoading',
      setActiveApp: 'setActiveApp',
      setTestDataClassesLoaded: 'setTestDataClassesLoaded',
      setActiveTestDataClass: 'setActiveTestDataClass'
    }),
    goToTdc (tdc) {
      this.setActiveTestDataClass(tdc)
      this.$router.push({
        path: `/environments/${decodeURI(this.$route.params.shortcode)}/${decodeURI(this.$route.params.appname)}/${decodeURI(tdc.name)}`
      })
    },
    getTdcs () {
      this.setTestDataClassesLoaded(false)
      this.startGlobalLoading('testDataClasses')
      getAppTdcs(this.urlEnvShortcode, this.urlAppName)
        .then(response => {
          if (!response.error) {
            let self = this
            setTimeout(function () {
              self.setTestDataClasses(response)
              self.setTestDataClassesLoaded(true)
              self.stopGlobalLoading('testDataClasses')
              // this.setAppsLoaded(true)
            }, 500)
          } else {
            this.setTestDataClassesLoaded(true)
            this.stopGlobalLoading('testDataClasses')
            // this.setAppsLoaded(true)
            console.log('error')
          }
        })
    }
  }
}
</script>
<style scoped>
.is-full-width {
  width: 100%;
}
.is-light-green:hover {
  width: 100%;
  background-color: rgba(68, 255, 11, 0.5) !important;
}
.tdc-card {
  padding: 2px;
   background-color: rgba(238, 238, 234, 0.788) !important;
}
.tdc-card:hover {
  padding: 2px;
  background-color: rgba(68, 255, 11, 0.5) !important;
}
</style>
