<template>
<!-- eslint-disable -->
  <div class="testdata-screen">
    <h2 class="title">Docs comming soon...</h2>
    <!-- short span test -->
    <s-span :content="lorem" :short-length="50"></s-span>
  </div>
</template>

<script>
import ShortSpan from '../ShortSpan'
export default {
  name: 'DocsScreen',
  components: {
    's-span': ShortSpan
  },
  data () {
    return {
      lorem: `
      Lorem ipsum dolor amet aesthetic vinyl forage ramps gastropub pickled. Keytar deep v retro, iPhone tacos lumbersexual chillwave tattooed irony master cleanse hell of vaporware leggings. Food truck polaroid chartreuse meditation semiotics tbh. Fam aesthetic godard yr, pop-up williamsburg banjo taiyaki heirloom pour-over pug plaid kickstarter distillery. Listicle single-origin coffee offal dreamcatcher, sartorial af health goth. Ennui live-edge activated charcoal, hoodie celiac shabby chic glossier man bun. Mixtape messenger bag taxidermy blog butcher shoreditch street art austin squid sartorial.
      `
    }
  }
}
</script>
