<template>
<!-- eslint-disable -->
  <div class="breadcrumb">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li v-for="(crumb,i) in breadcrumbArr" :key="'bread_' + i" :class="getCrumbActiveClass(crumb)">
          <router-link :to="{ path: getCrumbPath(crumb) }" >{{crumb.toUpperCase()}}</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  name: 'Breadcrumb',
  mounted () {
    this.setCrumb(decodeURI(this.$route.path).split('/').filter(crumb => crumb !== ''))
  },
  computed: {
    ...mapGetters({
      crumb: 'crumb'
    }),
    breadcrumbArr () {
      // console.log('route:', this.$route.path)
      return decodeURI(this.$route.path).split('/').filter(crumb => crumb !== '')
    }
  },
  watch: {
    breadcrumbArr (newVal) {
      console.log('crumb change')
      this.setCrumb(newVal)
    }
  },
  methods: {
    ...mapActions({
      crumbLen: 'crumbLen',
      setCrumb: 'setCrumb'
    }),
    getCrumbPath (crumb) {
      let crumbIndex = this.breadcrumbArr.indexOf(crumb)
      let path = ''
      this.breadcrumbArr.forEach(crumb => {
        let currentCrumbIndex = this.breadcrumbArr.indexOf(crumb)
        if (currentCrumbIndex <= crumbIndex) {
          path = path + `/${crumb}`
        }
      })
      return path
    },
    getCrumbActiveClass (crumb) {
      return (this.breadcrumbArr.indexOf(crumb) + 1) === this.breadcrumbArr.length ? 'is-active' : ''
    }
  }
}
</script>
