<template>
  <div id="BulmaDemoWork">
<!-- eslint-disable -->
    <!-- <img src="./assets/logo.png"> -->
    <!-- BULMA CHECK DEMO -->
    BULMA
    <b-switch v-model="switchState">{{ switchState }}</b-switch>
    <hr>

    <b-checkbox v-model="checkboxState">{{ checkboxState }}</b-checkbox>
    <hr>

    <button class="button is-primary" @click="$toast.open('This is a Toast')">
        Show Toast
    </button>
    <button class="button is-primary" @click="$snackbar.open('This is a Snackbar')">
        Show Snackbar
    </button>
    <hr>

    <b-field>
        <b-input maxlength="25" placeholder="Your name" v-model="name" required></b-input>
    </b-field>
    <button class="button is-primary" @click="emitHelloMessage()">
        Emit hello message :)
    </button>

    Bulma demo
    <button class="button is-primary" @click="testApi(name)">
        API call(empty returns 404, non empty 500)
    </button>
    {{apiTestResult}}<br>
    <span v-if="errorMessage.show">{{errorMessage.message}}</span>
    <button class="button is-primary" @click="errorMessage.show=false">
        hide
    </button>
  </div>
</template>

<script>
import { EventBus } from '../event_bus'
import { getTestApiHelloData } from '../api/test_call_api'
// import { HTTP } from '../http'
export default {
  name: 'BulmaDemoWork',
  data () {
    return {
      switchState: true,
      checkboxState: true,

      name: '',
      apiTestResult: {},
      errorMessage: {
        show: false,
        message: ''
      }
    }
  },
  methods: {
    showErrorMessage (message) {
      this.errorMessage.show = true
      this.errorMessage.message = message
    },
    testApi () {
      getTestApiHelloData(this.name).then(response => {
        if (response.error) {
          this.showErrorMessage(response.error.message)
        } else {
          this.apiTestResult = response
        }
      })
    },
    emitHelloMessage () {
      EventBus.$emit('sayHello', this.name)
    }
  }
}
</script>
