<template>
<!-- eslint-disable -->
  <div class="denied-screen">
    <h1 class="title is-1 is-spaced">Access denied</h1>
  </div>
</template>

<script>
export default {
  name: 'Denied',
  data () {
    return {
      //
    }
  }
}
</script>
