<template>
<!-- eslint-disable -->
<div id="NavBar">
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <router-link :to="{name: 'Home'}" @click.native="activeItemId = null">
          <img src="https://bulma.io/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </router-link>
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColorprimary-example" class="navbar-menu">
      <div class="navbar-start">
        <router-link
        v-if="!item.adminOnly || item.adminOnly===user.is_superuser"
        v-for="item in items"
        :key="item.id"
        :class="getActiveClass(item.id)" 
        :to="{ name: item.name }"
        :style="`color: ${item.labelColor} !important;`"
        @click.native="activeItemId = item.id">
          {{item.name}}
        </router-link>
      </div>

      <div class="navbar-end" v-if="user!=undefined">
          <router-link
          @click.native="logoutUser"
          class="navbar-item"
          style="color: red !important;"
          :to="{}"
          >
          ({{user.username}}) [Logout]
          </router-link>
      </div>
    </div>
  </nav>
</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'NavBar',
  props: ['user'],
  mounted () {
    this.burgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)
  },
  data () {
    return {
      burgers: [],
      activeItemId: null,
      items: [
        {id: 1, adminOnly: false, name: 'TestData', labelColor: 'black'},
        {id: 2, adminOnly: false, name: 'Docs', labelColor: 'black'},
        {id: 3, adminOnly: false, name: 'Tools', labelColor: 'black'},
        {id: 4, adminOnly: true, name: 'Administration', labelColor: '#027a18'}
      ]
    }
  },
  computed: {
    navbarBurgers () {
      return Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)
    }
  },
  watch: {
    burgers (newVal) {
      // based on bulma website example
      if (newVal.length > 0) {
        // Add a click event on each of them
        newVal.forEach(function ($el) {
          $el.addEventListener('click', function () {
            // Get the target from the "data-target" attribute
            var target = $el.dataset.target
            var $target = document.getElementById(target)
            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active')
            $target.classList.toggle('is-active')
          })
        })
      }
    }
  },
  methods: {
    getActiveClass (itemId) {
      return itemId === this.activeItemId ? 'navbar-item is-active disabled' : 'navbar-item'
    },
    ...mapActions({
      logoutUser: 'logoutUser'
    })
  }
}
</script>

<style>
.navbar-fixed {
    top: 0;
    z-index: 150;
    position: fixed;
    width: 100%;
}
</style>
