<template>
<!-- eslint-disable -->
  <div class="404-screen">
    <h1 class="title is-1 is-spaced">404 not found</h1>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
  data () {
    return {
      //
    }
  }
}
</script>
