<template>
<!-- eslint-disable -->
  <div class="short-span">
    <div v-if="!showShortened"><span>{{content}}</span></div>
    <div v-else>
      <div v-if="!showFull">
        <span>{{shortenedContent}}</span>
        <b-tooltip class="tool-transparent" label="Reveal content">
          <b-icon
            type="is-primary"
            @click.native="showFull=!showFull"
            class="icon-finger"
            pack="fa"
            icon="eye"
            size="is-small">
          </b-icon>
        </b-tooltip>
      </div>
      <div v-else>
        <span v-if="showFull">{{content}}</span>
        <b-tooltip class="tool-transparent" label="Hide content">
          <b-icon
            type="is-primary"
            @click.native="showFull=!showFull"
            class="icon-finger"
            pack="fa"
            icon="eye-slash"
            size="is-small">
          </b-icon>
        </b-tooltip>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ShrotSpan',
  props: {
    content: {
      type: String,
      required: true,
      default: ''
    },
    shortLength: {
      type: Number,
      required: true,
      default: 30
    }
  },
  created () {
    if (!this.showShortened) {
      this.showFull = true
    }
  },
  computed: {
    showShortened () {
      return this.content.length > this.shortLength
    },
    shortenedContent () {
      return this.content.substring(0, this.shortLength) + '...'
    }
  },
  data () {
    return {
      showFull: false
    }
  }
}
</script>
<style scoped>
.icon-finger {
  cursor: pointer;
}
.icon-finger:hover {
  cursor: pointer;
}
.tool-transparent {
  opacity: 0.9;
}
</style>
