<template>
<!-- eslint-disable -->
  <div class="tools-screen">
    <p class="title is-2">Tools comming soon...</p>
  </div>
</template>

<script>
export default {
  name: 'ToolsScreen',
  data () {
    return {
      //
    }
  }
}
</script>
