<template>
<!-- eslint-disable -->
  <div class="denied-screen">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <form @submit.prevent="submitForm()">
          <div class="card">
            <div class="card-content">
              <!-- {{activeField}} -->
              <h1 class="title">Add new user</h1>
                <b-notification
                v-if="errorMessage.show"
                type="is-danger"
                @close="errorMessage.show=false">
                <span v-html="errorMessage.message"></span>
                </b-notification>
                <div class="field">
                  <b-switch :disabled="formLoading" v-model="formFields.is_superuser.value" id="admin-switch">
                    Administrator
                  </b-switch>
                </div>
                <div class="columns">
                  <div class="column">
                    <b-field label="First name" :type="getFieldCssClass('first_name')">
                      <b-tooltip :label="formFields.first_name.errors[0]"
                      :active="formFields.first_name.errors.length>0"
                      class="yfdm-ifwo"
                      type="is-danger"
                      size="is-medium"
                      position="is-top"
                      animated
                      multilined
                      :always="activeField===formFields.first_name.id">
                        <b-input
                        class="yfdm-ifwo"
                        :id="formFields.first_name.id"
                        @focus="activate(formFields.first_name.id)"
                        @blur="validate(formFields.first_name.id)"
                        v-model.trim="formFields.first_name.value"
                        :disabled="formLoading"
                        type="text"
                        maxlength="30"
                        ></b-input>
                      </b-tooltip>
                    </b-field>
                  </div>
                  <div class="column">
                    <b-field label="Last name" :type="getFieldCssClass('last_name')">
                      <b-tooltip :label="formFields.last_name.errors[0]"
                      :active="formFields.last_name.errors.length>0"
                      class="yfdm-ifwo"
                      type="is-danger"
                      size="is-medium"
                      position="is-top"
                      animated
                      multilined
                      :always="activeField===formFields.last_name.id">
                        <b-input
                        class="yfdm-ifwo"
                        :id="formFields.last_name.id"
                        @focus="activate(formFields.last_name.id)"
                        @blur="validate(formFields.last_name.id)"
                        v-model.trim="formFields.last_name.value"
                        :disabled="formLoading"
                        type="text"
                        maxlength="30"
                        ></b-input>
                      </b-tooltip>
                    </b-field>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <b-field label="Username" :type="getFieldCssClass('username')">
                      <b-tooltip :label="formFields.username.errors[0]"
                      :active="formFields.username.errors.length>0"
                      class="yfdm-ifwo"
                      type="is-danger"
                      size="is-medium"
                      position="is-top"
                      animated
                      multilined
                      :always="activeField===formFields.username.id">
                        <b-input 
                        class="yfdm-ifwo"
                        :id="formFields.username.id"
                        @focus="activate(formFields.username.id)"
                        @blur="validate(formFields.username.id)"
                        v-model.trim="formFields.username.value"
                        :disabled="formLoading"
                        type="text"
                        maxlength="30"
                        ></b-input>
                      </b-tooltip>
                    </b-field>
                  </div>
                  <div class="column">
                    <b-field label="Email" :type="getFieldCssClass('email')">
                      <b-tooltip :label="formFields.email.errors[0]"
                      :active="formFields.email.errors.length>0"
                      class="yfdm-ifwo"
                      type="is-danger"
                      size="is-medium"
                      position="is-top"
                      animated
                      multilined
                      :always="activeField===formFields.email.id">
                        <b-input 
                        class="yfdm-ifwo"
                        :id="formFields.email.id"
                        @focus="activate(formFields.email.id)"
                        @blur="validate(formFields.email.id)"
                        v-model.trim="formFields.email.value"
                        :disabled="formLoading"
                        type="text"
                        maxlength="100"
                        ></b-input>
                      </b-tooltip>
                    </b-field>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <b-field label="Password" :type="getFieldCssClass('password')">
                      <b-tooltip :label="formFields.password.errors[0]"
                      :active="formFields.password.errors.length>0"
                      class="yfdm-ifwo"
                      type="is-danger"
                      size="is-medium"
                      position="is-top"
                      animated
                      multilined
                      :always="activeField===formFields.password.id">
                        <b-input type="password"
                        class="yfdm-ifwo"
                        :id="formFields.password.id"
                        @focus="activate(formFields.password.id)"
                        @blur="validate(formFields.password.id)"
                        v-model.trim="formFields.password.value"
                        :disabled="formLoading"
                        :password-reveal="formFields.password.value!=''  && !formLoading"
                        ></b-input>
                      </b-tooltip>
                    </b-field>
                  </div>
                  <div class="column">
                    <b-field label="Repeat password" :type="getFieldCssClass('password_repeat')">
                      <b-tooltip :label="formFields.password_repeat.errors[0]"
                      :active="formFields.password_repeat.errors.length>0"
                      class="yfdm-ifwo"
                      type="is-danger"
                      size="is-medium"
                      position="is-top"
                      animated
                      multilined
                      :always="activeField===formFields.password_repeat.id">
                        <b-input type="password"
                        class="yfdm-ifwo"
                        :id="formFields.password_repeat.id"
                        @focus="activate(formFields.password_repeat.id)"
                        @blur="validate(formFields.password_repeat.id)"
                        v-model.trim="formFields.password_repeat.value"
                        :disabled="formLoading"
                        :password-reveal="formFields.password_repeat.value!='' && !formLoading"
                        ></b-input>
                      </b-tooltip>
                    </b-field>
                  </div>
                </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <button
                type="button"
                class="button is-danger"
                :disabled="formLoading"
                @click="cancelAddUser">
                  Cancel
                </button>
              </p>
              <p class="card-footer-item">
                <button
                type="submit"
                :class="`button is-success ${isLoading}`"
                :disabled="!formIsValid || formLoading">
                  Submit new user
                </button>
              </p>
            </footer>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
</template>

<script>
import { EventBus } from '../../event_bus'
import { validators } from '../../mixins/validators'
import { addNewUser } from '../../api/admin'
// import { HTTP, getHeaders } from '../../http'
// import { handleResponse } from '../../api/api_response_resolver'
export default {
  name: 'AdminScreenAddUserForm',
  created () {
    this.registerFields(this.formFields) // mixins
  },
  data () {
    return {
      errorMessage: {
        show: false,
        message: 'error'
      },
      formLoading: false,
      focusedField: null,
      formFields: {
        first_name: {
          id: 'first_name',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'min_length', params: {length: 3}},
            {name: 'max_length', params: {length: 30}}
          ],
          errors: []
        },
        last_name: {
          id: 'last_name',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'min_length', params: {length: 3}},
            {name: 'max_length', params: {length: 30}}
          ],
          errors: []
        },
        username: {
          id: 'username',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'min_length', params: {length: 5}},
            {name: 'max_length', params: {length: 30}}
          ],
          errors: []
        },
        email: {
          id: 'email',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'is_email', params: null}
          ],
          errors: []
        },
        password: {
          id: 'password',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'min_length', params: {length: 8}},
            {name: 'max_length', params: {length: 30}},
            {name: 'has_number', params: null}
          ],
          errors: []
        },
        password_repeat: {
          id: 'password_repeat',
          value: '',
          validate: true,
          rules: [
            {name: 'not_empty', params: null},
            {name: 'same_as_password', params: null},
            {name: 'min_length', params: {length: 8}},
            {name: 'max_length', params: {length: 30}}
          ],
          errors: []
        },
        is_superuser: {
          id: 'is_superuser',
          value: false,
          validate: false
        }
      }
    }
  },
  mixins: [validators],
  mounted () {
    document.getElementById('first_name').focus()
  },
  computed: {
    isLoading () {
      return this.formLoading ? 'is-loading' : ''
    },
    formIsValid () {
      return this.fieldsAreValid // mixins
    },
    activeField () {
      return this.activeFieldId // mixins
    }
  },
  methods: {
    validate (fieldId) {
      this.validateField(fieldId) // mixins
    },
    activate (fieldId) {
      this.activateField(fieldId) // mixins
    },
    getFieldCssClass (fieldId) {
      if (!this.hasBeenValidated(fieldId)) { // mixins
        return ''
      }
      return this.formFields[fieldId].errors.length === 0 ? 'is-success' : 'is-danger'
    },
    prepareErrorMessage (responseError) {
      let errCode = responseError.error
      let message = responseError.message
      let fieldErrors = []
      if (responseError.hasOwnProperty('errors')) {
        fieldErrors = responseError.errors
      }
      let msg = `ERROR: <strong>${errCode}</strong> - <i>${message}</i>.<br>`
      if (fieldErrors.length > 0) {
        msg = msg + 'Details: <br>'
      }
      fieldErrors.forEach(error => {
        msg = msg + `<b>Field: ${error.field}</b>:<br>`
        error.error_list.forEach(errorMsg => {
          msg = msg + `Error: <i>${errorMsg}</i><br>`
        })
      })
      this.errorMessage.message = msg
    },
    submitForm () {
      let newUser = {}
      Object.keys(this.formFields).forEach(field => {
        newUser[field] = this.formFields[field].value
      })
      console.log('submit', newUser)
      // add vuex???
      this.formLoading = true
      addNewUser(newUser)
        .then(response => {
          if (response.error) {
            this.prepareErrorMessage(response.error)
            this.errorMessage.show = true
            this.formLoading = false
          } else {
            // success
            let self = this
            setTimeout(function () {
              self.pushUser(response)
            }, 2000)
            // EventBus.$emit('push-user', response)
            // EventBus.$emit('hide-add-user')
          }
        })
    },
    pushUser (user) {
      EventBus.$emit('push-user', user)
      EventBus.$emit('hide-add-user')
    },
    cancelAddUser () {
      console.log('cancel')
      EventBus.$emit('hide-add-user')
    }
  }
}
</script>

<style scoped>
.yfdm-ifwo {
  width: 100% !important;
  opacity: 0.85;
}
</style>
