<template>
<!-- eslint-disable -->
  <div class="admin-screen">
    <b-notification
    v-if="errorMessage.show"
    type="is-danger"
    @close="errorMessage.show=false">
    {{errorMessage.message}}
    </b-notification>
    <div class="columns">
      <div class="column has-text-left">
        <h2 class="title">Administration</h2>
      </div>
      <div class="column has-text-right">
        <button class="button is-medium is-primary is-outlined" v-if="!showAddUser" @click="showAddUser=true">Add new user</button>
      </div>
    </div>
    <add-user-form v-if="showAddUser"/>
    <user-table :users="userList"/>
  </div>
</template>

<script>
import { getAdminUserList } from '../../api/admin'
import { EventBus } from '../../event_bus'
import AdminScreenUserTable from './AdminScreenUserTable'
import AdminScreenAddUserForm from './AdminScreenAddUserForm'

export default {
  name: 'AdminScreen',
  components: {
    'user-table': AdminScreenUserTable,
    'add-user-form': AdminScreenAddUserForm
  },
  beforeCreate () {
    console.log('is admin?', JSON.parse(window.localStorage.getItem('yfdmUser')).is_superuser)
    if (!JSON.parse(window.localStorage.getItem('yfdmUser')).is_superuser) {
      this.$router.push({name: 'Denied'})
    }
  },
  created () {
    EventBus.$on('hide-add-user', e => {
      this.showAddUser = false
    })
    EventBus.$on('push-user', newUser => {
      this.userList.unshift(newUser)
    })
  },
  mounted () {
    this.getUsers()
  },
  data () {
    return {
      errorMessage: {
        show: false,
        message: ''
      },
      userList: [],
      showAddUser: false
    }
  },
  methods: {
    showError (message) {
      this.errorMessage.message = message
      this.errorMessage.show = true
    },
    stopAppLoadingWithDelay (delay) {
      setTimeout(function () {
        EventBus.$emit('app-loading-stop')
      }, delay)
    },
    getUsers () {
      EventBus.$emit('app-loading-start')
      getAdminUserList()
        .then(response => {
          if (!response.error) {
            this.stopAppLoadingWithDelay(1000)
            this.userList = response
          } else {
            this.stopAppLoadingWithDelay(0)
            this.showError(response.error.message)
          }
        })
    }
  }
}
</script>
