<template>
<!-- eslint-disable -->
  <div class="admin-screen-user-table">
    <b-table
      narrowed
      :data="users"
      :selected.sync="selected"
      focusable>
      <template slot-scope="props">
        <b-table-column label="ID" width="40" numeric>
            {{ props.row.id }}
        </b-table-column>

        <b-table-column label="Username">
            {{ props.row.username }}
        </b-table-column>

        <b-table-column label="First Name">
            {{ props.row.first_name }}
        </b-table-column>

        <b-table-column label="Last Name">
            {{ props.row.last_name }}
        </b-table-column>

        <b-table-column label="Email">
            {{ props.row.email }}
        </b-table-column>

        <b-table-column label="Date joined" centered>
            {{ new Date(props.row.date_joined).toLocaleDateString() }}
        </b-table-column>

        <b-table-column label="Active">
            <b-icon type="is-success" v-if="props.row.is_active" pack="fa" icon="check"></b-icon>
            <b-icon type="is-danger" v-else pack="fa" icon="times"></b-icon>
        </b-table-column>

        <b-table-column label="Admin">
            <b-icon type="is-success" v-if="props.row.is_superuser" pack="fa" icon="check"></b-icon>
            <b-icon type="is-danger" v-else pack="fa" icon="times"></b-icon>
        </b-table-column>
        <b-table-column label="Actions">
          [WIP]
        </b-table-column>
      </template>
    </b-table>
  </div>
</template>

<script>
/* eslint-disable */
// import { getAdminUserList } from '../../api/admin'
// import { EventBus } from '../../event_bus'
export default {
  name: 'AdminScreenUserTable',
  props: {
    users: {
      required: true,
      type: Array,
      default: []
    }
  },
  data () {
    return {
      test: '',
      selected: null
    }
  }
}
</script>
