<template>
<!-- eslint-disable -->
  <div id="app" style="background-color: #f7f7f7; height: 100vh;">
    <b-loading :active.sync="appLoading"></b-loading>
    <navbar :user="user" v-if="user!=undefined"/>
    <!-- MAIN CONTENT CONTAINER - ROUTER -->
    <div class="container is-fluid" style="padding-top: 5px;">
      <router-view/>
    </div>
  </div>
</template>

<script>
import NavBar from './components/NavBar'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'app',
  components: {
    'navbar': NavBar
  },
  created () {
    this.localUserCheck()
  },
  computed: {
    ...mapGetters({
      user: 'user',
      userIsLoggedIn: 'userIsLoggedIn',
      appLoading: 'appLoading'
    })
  },
  watch: {
    userIsLoggedIn (newVal) {
      if (newVal === false) {
        this.goToLoginScreen('You must log in')
      }
    }
  },
  methods: {
    ...mapActions({
      goToLoginScreen: 'goToLoginScreen',
      localUserCheck: 'localUserCheck'
    })
  }
}
</script>
<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: hsl(86, 100%, 47%);
$success: hsl(86, 52%, 64%);
$danger: hsl(12, 97%, 71%);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
</style>
